<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abc.medidoc">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".NewDoctorList"></activity>
        <activity android:name=".loginUser" />
        <activity android:name=".updateProf" android:parentActivityName=".profile"></activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".Register"></activity>
        <activity android:name=".profile" android:parentActivityName=".Login"></activity>
        <activity android:name=".payment_details" />
        <activity android:name=".forgotpassword" />
        <activity android:name=".channel_details" />
        <activity android:name=".fragment_channel" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".fragment_signin" />
        <activity android:name=".update_channel" />
        <activity
            android:name=".DocProfile1"
            android:parentActivityName=".DoctorList"/>
        <activity android:name=".DoctorList" android:parentActivityName=".Diseases">

        </activity>
        <activity android:name=".Diseases">

        </activity>
        <activity
            android:name=".EditPro"
            android:parentActivityName=".LoginK" >  </activity>
        <activity android:name=".medicineUpdate" />
        <activity android:name=".medicineDis" />
        <activity android:name=".orderMedicine" />
    </application>

</manifest>